{% extends 'base.html' %}

{% block title %} View A Course {% endblock %}

{% block content %}
    <div style="background-color: maroon; padding: 50px;">
        <h1 style="color: white; text-align: center;">Course Details</h1>
        <div class="form-container" style="background-color: white; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); padding: 20px; max-width: 500px; margin: 0 auto;">
        {% csrf_token %}

        <h1>{{course.CourseID}}</h1>
        <p>Name: {{course.Name}}</p>
        <p>Instructor: {{course.Instructor}}</p>
        <p>Description: {{course.Description}}</p>
        <p>Seats: {{course.SeatData}}</p>
        <p>Room: {{course.Rooms}}</p>
        <p>Times: {{course.Times}}</p>
        <p>TAs: {{course.TAs}}</p>
        <p>With Discussion: {{course.WithDiscussion}}</p>
        <p>Graded In Meeting: {{course.GradedInMeeting}}</p>
        <p>Extra Info: {{course.ExtraInfo}}</p>

        </div>
    </div>
{% endblock %}

