{% extends 'base.html' %}

{% block title %} Application Overview {% endblock %}

{% block content %}
   
        {% if user.is_student %}
            You are a student and do not have permission to view this page.
            <button><a href="/studentapplications">View your applications here</a></button>
        {% endif %}
  
 

        {% if applications %}  

        <div class="application-overview">
          <div class="table">
              <table class="table table-bordered table-hover table-striped table-condensed text-center">
                  <div class="caption center-block text-center"> 
                      Application Overview 
                  </div>
                  <thead>
                      <tr>
                          <th scope="col" style="width:10%"><h4>Email</h4></th>
                          <th scope="col" style="width:15%"><h4>Applicant</h4></th>
                          <th scope="col" style="width:15%%"><h4>Course</h4></th>
                          <th scope="col" style="width:15%"><h4>Resume</h4></th> 
                          <th scope="col" style="width:15%"><h4>Status</h4></th>
                         
                      </tr>
                  </thead>
                  <div class="caption center-block text-center">
                      Number of applications: {{ applications|length }}
                  </div>
                  <tbody> 
                      <tbody>  
                          {% for app in applications %}
                          {% if app.SelectedCourse.Instructor|stringformat:"s" == user.email|stringformat:"s" or user.is_admin or user.is_superuser %}
                          <tr scope="row">
                              <td>{{app.account.email}}</td> 
                              <td>{{app.account.student.firstname}} {{app.account.student.lastname}} </td> 
                              <td>{{app.SelectedCourse}}</td>
                              <td><a href="{{ app.Resume.url }}">Resume</a></td>   
                              <td><a href="{% url 'applicationview' app.id %}">{{app.status}}</a></td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                      </tbody> 
                  </tbody>
              </table>
          </div>
      </div>



         
      {% endif %}
        </div>
    </div>
{% endblock %}

