{% extends 'base.html' %}

{% block title %} Application Overview {% endblock %}

{% block content %}
   

{% if applications %}

        <div class="application-overview">
          <div class="table">
              <table class="table table-bordered table-hover table-striped table-condensed text-center">
                  <div class="caption center-block text-center"> 
                      My Applications
                  </div>
                  <thead>
                      <tr>
                          <th scope="col" style="width:15%%"><h4>Course</h4></th>
                          <th scope="col" style="width:15%%"><h4>Course Name</h4></th>
                          <th scope="col" style="width:15%"><h4>Instructor</h4></th>
                          <th scope="col" style="width:15%"><h4>Status</h4></th>
                         
                      </tr>
                  </thead>
                  <div class="caption center-block text-center">
                      Number of applications: {{ num_applications }}
                  </div>

                  <tbody> 
                      <tbody>  
                          {% for app in applications %}
                          <tr scope="row">
                              <td>{{app.SelectedCourse}}</td>
                              <td>{{app.SelectedCourse.Name}}</td>
                              <td>{{app.SelectedCourse.Instructor}}</td>
                              <td>{{app.status}}</td>
                          </tr>
                          {% endfor %}
                      </tbody> 
                  </tbody>
              </table>
          </div>
      </div>



         
      {% endif %}
        </div>
    </div>
{% endblock %}

